.main {
    background-color: white;
    border: solid 5px black;
    border-radius: 20px;
    padding: 0 75px;
}


h1 {
    color: black;
}
img{
    width: 700px;
    height: 400px;
}

